{% extends 'base.html.twig' %}

{% block title %}{{ 'Login'|trans }}{% endblock %}

{% block body %}
    <div class="custom_login-registration_form mx-auto">
        <form method="post">
            <legend>
                {{ 'Please Sign in'|trans }}
            </legend>

            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <input class="mb-2 form-control email_and_password_inputs" type="email" value="" name="email" id="inputEmail" placeholder={{ 'Email'|trans }} required autofocus>
            <input type="password" name="password" id="inputPassword" class="form-control email_and_password_inputs" placeholder="{{ 'Password'|trans }}" required>
            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >
            <input class="submit_button" type="submit" value="{{ 'Sign in!'|trans }}">
{#            <p>
                <a class="ot_login" href="#">
                    <img class="google-logo float-left" height="20" width="20" src="{{ asset('images/facebook-2.svg') }}" alt="Google image">
                    {{ 'Sign in with Facebook'|trans }}
                </a>
            </p>#}
{#            <p class="text-center forget_psw">
                <a href="#">{{ 'Forgot password?'|trans }}</a>
            </p>#}
            <p class="text-center">
                <a href="{{ path('app_register') }}">{{ 'Register a new membership'|trans }}</a>
            </p>
        </form>
    </div>
{% endblock %}
