{% extends 'base.html.twig' %}

{% block body %}
    <div class="custom_login-registration_form mx-auto">
        {{ form_start(form) }}
            <legend>
                {{ 'Registration'|trans }}
            </legend>
        {{ form_row(form.name, {'attr': {'class': 'email_and_password_inputs', 'placeholder': 'Vardas'}} ) }}
        {{ form_row(form.email, {'attr': {'class': 'email_and_password_inputs', 'placeholder': 'El.paštas'}} ) }}
        {{ form_row(form.password, {'attr': {'class': 'email_and_password_inputs mb-5', 'placeholder':'Slaptažodis'}} ) }}

        <button class="submit_button" type="submit"> {{ 'Register'|trans }}</button>
        {{ form_end(form) }}
    </div>
 {% endblock %}
