{% extends 'base.html.twig' %}

{% block calendar %}{% endblock %}

{% block body %}
    <div class="json_info" data-calendar_information="{{ jsonContent|json_encode|e('html_attr') }}"></div>
    <div class="container-fluid">
        <header class="row" style="height: 95px;">

        </header>
        <main>
            <div class="row mt-2 mb-3">
                <div class="col-sm-12">
                    {{ include('./includes/calendar.html.twig') }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                </div>
            </div>
        </main>
    </div>
{% endblock %}

{% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" defer></script>
            <script src="{{ asset('../libs/mapoid.js') }}" defer></script>
            {#<script src="{{ asset('build/js/app.js')}}" defer></script>#}
            <script src="{{ asset('build/js/main.js')}}" defer></script>
{% endblock %}
