{% extends 'base.html.twig' %}

{% block calendar %}{% endblock %}

{% block body %}
        <div class="json_info" data-calendar_information="{{ jsonContent|json_encode|e('html_attr') }}"></div>
        <main>
            <div class="row mt-4">
                <div class="col-sm-12">
                    {{ include('./includes/calendar.html.twig') }}
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-sm-7">
                    {#{{ include('./includes/reservoir.html.twig') }}#}
                </div>
                <div class="col-sm-5">

                </div>
            </div>
        </main>
{% endblock %}

{% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" defer></script>
            <script src="{{ asset('../libs/mapoid.js') }}" defer></script>
            {#<script src="{{ asset('build/js/app.js')}}" defer></script>#}
            <script src="{{ asset('build/js/main.js')}}" defer></script>
{% endblock %}
