{% extends 'base.html.twig' %}

{% block calendar %}{% endblock %}

{% block body %}
    <div class="json_info" data-calendar_information="{{ jsonContent|json_encode|e('html_attr') }}"></div>
    <main>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message|trans }}
            </div>
        {% endfor %}
        {% for message in app.flashes('warning') %}
            <div class="alert alert-warning">
                {{ message|trans }}
            </div>
        {% endfor %}
        <div class="row mt-2 justify-content-center">
            <div class="col-sm-12 text-center">
                <h3>Sektorių rezervacija</h3>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-sm-12">
                {{ include('./includes/calendar.html.twig') }}
            </div>
        </div>
        <div class="row justify-content-center mt-2">
            <div class="col-sm-12 box box-success calendar_legend">
                <ul class="pt-3 pb-1" style="list-style-type: none">
                    <li class="d-inline-block">
                        <img src="../build/images/busyline-block-busy-start.8d9e8932.png" style="width:1.5em; height: auto">
                        <span> - užimta naktis (nuo 20:00 iki 8:00)</span>
                    </li>
                    <li class="d-inline-block">
                        <img src="../build/images/busyline-block-busy-end.0689a56b.png" style="width:1.5em; height: auto">
                        <span> - užimta diena (nuo 8:00 iki 20:00)</span>
                    </li>
                    <li class="d-inline-block">
                        <img src="../build/images/busyline-block-busy.004e8bba.png" style="width:1.5em; height: auto">
                        <span> - užimta para (nuo 8:00 iki 8:00)</span>
                    </li>
                    <li class="d-inline-block">
                        <img src="../build/images/busyline-block-free.0af7ea43.png" style="width:1.5em; height: auto">
                        <span> - laisva (nuo 8:00)</span>
                    </li>
                </ul>
            </div>

        </div>
        <div class="row mt-2">
            <div class="col-sm-6">
                {{ include('./includes/reservoir.html.twig') }}
            </div>
            <div class="col-sm-6 p-4 box box-info information_tab">
                <div class="box-header with-border">
                    <h4 class="text-center mb-3">Rezervacijos informacija</h4>
                </div>
                <div class="box-body">
                    <p>Kalendoriuje užveskite pelę ant norimo rezervuoti sektoriaus ir dienos sankirtos ir paspauskite
                        - naršyklė atidarys naują langą, kuriame galėsite supildyti norimos rezervacijos duomenis.
                        Jei jau rezervavote sektorių, bet neatvyksite žvejoti, prašome skambinti tel. 8 685 75778.</p>
                    <p>DĖMESIO! Sektorius rezervuoti nakčiai gali tik nuolatiniai tvenkinio lankytojai.</p>
                    <p>DĖMESIO! Sektorius rezervuoti galima vieną savaitę į priekį nuo šiandien (turintys abonementą - dvi savaites).</p>
                    <p>DĖMESIO! 3 sektorius rezervuojamas kartu su nameliu.</p>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" defer></script>
    <script src="{{ asset('../libs/mapoid.js') }}" defer></script>
    <script src="{{ asset('build/js/app.js')}}" defer></script>
    <script src="{{ asset('build/js/main.js')}}" defer></script>
{% endblock %}
