{% extends 'base.html.twig' %}

{% block calendar %}{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message|trans }}
        </div>
    {% endfor %}
    {% for message in app.flashes('warning') %}
        <div class="alert alert-warning">
            {{ message|trans }}
        </div>
    {% endfor %}


    <div class="row mt-5 mb-3">
        <div class="col-sm-12 text-center">
            <h3>Žūklės tvenkinio sektorių rezervacija</h3>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12">
            {{ include('./includes/calendar.html.twig') }}
        </div>
    </div>
        <div class="row mt-3 justify-content-center">
            <div class="col-md-10 box box-success calendar_legend">
                <div class="box-header with-border text-center">
                    <div class="legend_parent d-inline-block">
                        <span class="legend_span legend_alignment busy-start_from_20"></span>
                        <span class="pl-2 legend_alignment" style="font-size: 14px;"> - užimta naktis (nuo 20:00 iki 8:00)</span>
                    </div>
                    <div class="legend_parent d-inline-block">
                        <span class="legend_span legend_alignment busy-start_from_8"></span>
                        <span class="pl-2 legend_alignment" style="font-size: 14px;"> - užimta diena (nuo 8:00 iki 20:00)</span>
                    </div>
                    <div class="legend_parent d-inline-block">
                        <span class="legend_span legend_alignment busy"></span>
                        <span class="pl-2 legend_alignment" style="font-size: 14px;"> - užimta para (nuo 8:00 iki 8:00)</span>
                    </div>
                    <div class="legend_parent d-inline-block">
                        <span class="legend_span legend_alignment free"></span>
                        <span class="pl-2 legend_alignment" style="font-size: 14px;"> - laisva (nuo 8:00)</span>
                    </div>
                </div>
            </div>
        </div>
    <div class="row justify-content-center">
        <div class="col-md-4 pond_wrapper">
            {{ include('./includes/reservoir.html.twig') }}
        </div>
        <div class="col-md-6 box box-success information_tab">
            <div class="box-header with-border">
                <h4 class="text-center mb-3">Rezervacijos informacija</h4>
            </div>
            <div class="box-body">
                <p>Kalendoriuje užveskite pelę ant norimo rezervuoti sektoriaus ir dienos sankirtos ir paspauskite
                    - naršyklė atidarys naują langą, kuriame galėsite supildyti norimos rezervacijos duomenis.
                    Jei jau rezervavote sektorių, bet neatvyksite žvejoti, prašome skambinti tel. 8 685 75778.</p>
                <p>DĖMESIO! Sektorius rezervuoti nakčiai gali tik nuolatiniai tvenkinio lankytojai.</p>
                <p>DĖMESIO! Sektorius rezervuoti galima vieną savaitę į priekį nuo šiandien (turintys abonementą - dvi
                    savaites).</p>
                <p>DĖMESIO! 3 sektorius rezervuojamas kartu su nameliu.</p>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>const json_content = '{{ jsonContent|json_encode }}'</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" defer></script>
    <script src="{{ asset('../libs/mapoid.js') }}" defer></script>
    <script src="{{ asset('build/js/app.js') }}" defer></script>
    <script src="{{ asset('build/js/main.js') }}" defer></script>
{% endblock %}
