{% extends 'base.html.twig' %}

{% block body %}
    <header class="row" style="height: 95px;">
    </header>
    <div class="custom_registration_form">
        <h3 style="text-align: center;">{{ 'User Registration!'|trans }}</h3>
        {{ form_start(form) }}

            {{ form_row(form.name) }}
            {{ form_row(form.email) }}
            {{ form_row(form.password) }}

            <button class="registration_button" type="submit">{{ 'Register!'|trans }}</button>
        {{ form_end(form) }}
    </div>
 {% endblock %}
