{% extends 'base.html.twig' %}

{% block title %}{{ 'Reservation Confirmation'|trans }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="box box-primary mt-4" style="opacity: 0.85">
            <h3 class="box-title">{{ 'Reservation Confirmation'|trans }}</h3>
            <h3 class="box-title">{{ data.sectorName }} </h3>

            <h3 class="box-title">{{ 'Reservation Start Date'|trans }}: {{ data.dateFrom|date('Y-m-d H:i') }}</h3>
            <h3 class="box-title">{{ 'Reservation End Date'|trans }}: {{ data.dateTo|date('Y-m-d H:i') }}</h3>
            <h3 class="box-title">{{ 'Fishers number'|trans }}: {{ data.fishersNumber }}</h3>
            <h3 class="box-title">{{ 'Total hours'|trans }}: {{ data.hours }} h</h3>
            <h3 class="box-title">{{ 'Total fishing price'|trans }}: {{ fishingPrice }} Eur</h3>
            <br>
            {% if data.house %}
                <h3 class="box-title">{{ 'House reservation price'|trans }}: {{ housePrice }} Eur</h3>
            {% endif %}
            <br>
            <h2 class="box-title">{{ 'Total price'|trans }}: {{ data.amount }} Eur</h2>
            <br>
            {% if data.dateTo < "now"|date_modify("+3 day") %}
                <button class="btn btn-primary"
                        type="submit">{{ 'Confirm Reservation'|trans }}</button>
                <button class="btn btn-primary"
                        type="submit">{{ 'Confirm rezervation and make payment!'|trans }}</button>
            {% else %}
                <button class="btn btn-primary" type="submit">{{ 'Confirm rezervation and make payment!'|trans }}</button>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" defer></script>
    <script src="{{ asset('build/js/reservations.js') }}" defer></script>
{% endblock %}
