{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block body %}
    <div class="container">
        <header class="row" style="height: 95px;">

        </header>
        <main class="text-center">
            <div class="box box-warning reservation-form mt-5">
                <div class="box-header with-border ml-3">
                    <h4 class="box-title">{{ 'Reservation!'|trans }}</h4>
                </div>
                <!-- /.box-header -->
                <div class="box-body ml-3">
                    {{ form_start(form) }}
                    <form role="form">
                        <h4 class="box-title">{{ sectorNumber }} </h4>
                        <!-- text input -->
                        <div class="form-group">
                            <label style="width: 500px;">{{ form_row(form.name)}}</label>
                        </div>
                        <div class="form-group">
                            {{ 'Start date'|trans }}: {{ dateFrom }}
                            <div class="ml-5 radio d-inline-block">
                                <label>
                                    <input type="radio" name="optionsRadios" value="option1" checked="">
                                    8:00
                                </label>
                            </div>
                            <div class="radio d-inline-block">
                                <label>
                                    <input type="radio" name="optionsRadios" value="option2" checked="">
                                    20:00
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="d-inline-block">
                                {{ form_row(form.dateTo) }}
                            </div>
                            <div class="ml-5 radio d-inline-block">
                                <label>
                                    <input type="radio" name="optionsRadios" value="option1" checked="">
                                    8:00
                                </label>
                            </div>
                            <div class="radio d-inline-block">
                                <label>
                                    <input type="radio" name="optionsRadios" value="option2" checked="">
                                    20:00
                                </label>
                            </div>
                        </div>
                        <div class="form-group d-inline-block">
                            {{ form_widget(form) }}
                        </div>
                        <p class="margin">
                            {{ 'Total hours'|trans }}: {{ hours }} h
                        </p>
                        {% if house %}
                            <p class="margin">
                                {{ 'Reservation with house'|trans }}: {{ 'yes'|trans }}
                            </p>
                        {% endif %}
                        <h5>
                            {{ 'Total amount'|trans }}: {{ amount }} Eur
                        </h5>
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">{{ 'Confirm Reservation!'|trans }}</button>
                        </div>
                    </form>
                    {{ form_end(form) }}
                </div>
                <!-- /.box-body -->
            </div>
        </main>
    </div>
{% endblock %}
