{% extends 'base.html.twig' %}


{% block title %}{{ 'Reservation'|trans }}{% endblock %}

{% block body %}
    <div class="box box-success mt-4 mx-auto" style="opacity: 0.85; width: 50em">
        <div class="box-header with-border ml-4">
            <h3 class="box-title">{{ 'Reservation!'|trans }}</h3>
            <h4>{{ data.sectorName }} </h4>
        </div>
        {{ form_start(form, {'attr': {'class': 'custom_reservation_form'}} ) }}
        <div class="pl-3">
            <span class="d-inline-block"> {{ 'Reservation name'|trans }}:</span>
            <span class="d-inline-block" style="width: 33.8em"> {{ form_widget(form.name) }}
            </span>
        </div>
        <div class="row mt-2 p-3">
            <div class="col-sm-6 text-center">
                <div class="pt-2" style="height: 8em; border: 1px solid #D2D8E1">
                    <div style="padding: 7px">
                        {{ 'Reserved from'|trans }}: {{ data.dateFrom|date('Y-m-d') }}
                    </div>
                    <div>
                        {{ form_label(form.timeFrom) }}
                        {{ form_errors(form.timeFrom) }}
                        {% block form_widget_timeFrom %}
                            {% if (data.dateFrom|date('l') is same as('Saturday')) or (data.dateFrom|date('l') is same as("Sunday")) %}
                                <div id="reservation_timeFrom">
                                    <div class="form-check form-check-inline">
                                        <input type="radio"
                                               id="reservation_timeFrom_1"
                                               name="reservation[timeFrom]"
                                               required="required"
                                               class="form-check-input"
                                               value="20"
                                               checked="checked">
                                        <label class="form-check-label required"
                                               for="reservation_timeFrom_1">
                                                {{ '20:00' }}
                                        </label>
                                    </div>
                                </div>
                                {% do form.timeFrom.setRendered() %}
                            {% else %}
                                {{ form_widget(form.timeFrom) }}
                            {% endif %}
                        {% endblock form_widget_timeFrom %}
                    </div>
                </div>
            </div>
            <div class="col-sm-6 text-center">
                <div class="pt-2" style="height: 8em; border: 1px solid #D2D8E1">
                    <div>
                        {{ 'Reserved to'|trans }}: {{ form_widget(form.dateTo,
                            {'attr': {'max': availableDateTo|date('Y-m-d'), 'class':'d-inline-block'}}) }}
                    </div>
                    <div>
                        {{ form_label(form.timeTo) }}
                        {{ form_errors(form.timeTo) }}
                        {{ form_widget(form.timeTo) }}
                        {#Reikia testuoti Fronte, nes back neturi duomenų kokia bus įvesta diena#}
{#                        {% block form_widget_timeTo %}
                            {% if (form.vars.value.dateTo|date('l') is same as('Saturday')) or (form.vars.value.dateTo|date('l') is same as("Sunday")) %}
                                {{ form.vars.value.dateTo|date('Y-m-d H') }}
                                <div id="reservation_timeTo">
                                    <div class="form-check form-check-inline">
                                        <input type="radio"
                                               id="reservation_timeTo_1"
                                               name="reservation[timeTo]"
                                               required="required"
                                               class="form-check-input"
                                               value="20"
                                               checked="checked">
                                        <label class="form-check-label required"
                                               for="reservation_timeTo_1">
                                            {{ '20:00' }}
                                        </label>
                                    </div>
                                </div>
                                {% do form.timeTo.setRendered() %}
                            {% else %}
                                {{ form_widget(form.timeTo) }}
                            {% endif %}
                        {% endblock form_widget_timeTo %}#}

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                {{ form_widget(form) }}
            </div>
        </div>
        <button class="submit_button" type="submit">{{ 'Confirm Reservation!'|trans }}</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
{% block javascripts %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" defer></script>
    <script src="{{ asset('build/js/reservations.js') }}" defer></script>
{% endblock %}
