{% extends 'base.html.twig' %}


{% block title %}{{ 'Reservation'|trans }}{% endblock %}

{% block body %}
    <div class="row reservation_form mt-3">
        <div class="col-sm-6 mx-auto box box-success">
            <div class="row box-header with-border pb-0">
                <div class="col-sm-12 pl-1">
                    <div class="h4 box-title">{{ 'Reservation!'|trans }}</div>
                    <div class="h6">{{ data.sectorName }} </div>
                </div>
            </div>
            {{ form_start(form) }}
            <div class="row no-gutters mt-2 mb-2">
                <div class="col-sm-4">
                    <span class=""> {{ 'Reservation name'|trans }}:</span>
                </div>
                <div class="col-sm-8">
                    <span> {{ form_widget(form.name, {'attr': {'class': 'reservation_reservation-name'}} ) }}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 text-center">
                    <div class="pt-2" style="height: 8em; border: 1px solid #D2D8E1">
                        <div style="padding: 7px">
                            {{ 'Reserved from'|trans }}: {{ data.dateFrom|date('Y-m-d') }}
                        </div>
                        <div>
                            {{ form_label(form.timeFrom) }}
                            {{ form_errors(form.timeFrom) }}
                            {% block form_widget_timeFrom %}
                                {% if (data.dateFrom|date('l') is same as('Saturday')) or (data.dateFrom|date('l') is same as("Sunday")) %}
                                    <div id="reservation_timeFrom">
                                        <div class="form-check form-check-inline">
                                            <input type="radio"
                                                   id="reservation_timeFrom_1"
                                                   name="reservation[timeFrom]"
                                                   required="required"
                                                   class="form-check-input"
                                                   value="20"
                                                   checked="checked">
                                            <label class="form-check-label required"
                                                   for="reservation_timeFrom_1">
                                                {{ '20:00' }}
                                            </label>
                                        </div>
                                    </div>
                                    {% do form.timeFrom.setRendered() %}
                                {% else %}
                                    {{ form_widget(form.timeFrom) }}
                                {% endif %}
                            {% endblock form_widget_timeFrom %}
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 text-center no-gutters">
                    <div class="pt-2" style="height: 8em; border: 1px solid #D2D8E1">
                        <div>
                            {{ 'Reserved to'|trans }}: {{ form_widget(form.dateTo,
                                {'attr': {'max': availableDateTo|date('Y-m-d'), 'class':'d-inline-block datepicker_view'}}) }}
                        </div>
                        <div>
                            {{ form_label(form.timeTo) }}
                            {{ form_errors(form.timeTo) }}
                            {{ form_widget(form.timeTo) }}
                        </div>
                    </div>
                </div>
             </div>
            <div class="row">
                <div class="col-sm-12 text-center">
                    {{ form_widget(form) }}
                </div>
            </div>
            <div class="row p-3">
                <button class="submit_button" type="submit">{{ 'Confirm Reservation!'|trans }}</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
{% block javascripts %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" defer></script>
    <script src="{{ asset('build/js/reservations.js') }}" defer></script>
{% endblock %}
