<h3>Jūs reservavote žvejybos sektorių</h3>

<br>Sveiki, {{ name }}! Jūs rezervavote žvejybos laiką tvenkinyje <b>„DidelėsŽuvys.lt"</b>.
<br>
<br><b>Jūsų rezervacija {{ reservation.id }}:</b>
<br>Rezervuotas sektorius: <b>{{ reservation.sectorName }}</b>
<br>Rezervuota nuo: <b>{{ reservation.dateFrom|date('Y-m-d H:i') }}</b>
<br>Rezervuota iki: <b>{{ reservation.dateTo|date('Y-m-d H:i') }}</b>
<br>Žvejų skaičius: <b>{{ reservation.fishersNumber }}</b>
<br>Viso valandų: <b>{{ reservation.hours }}</b>
{% if reservation.house %}
    <br>Namelis: <b>užsakytas</b>
{% endif %}
<br>Rezervacijos suma: <b>{{ reservation.amount }} Eur</b>

<br><br>Laukiame atvykstant!

<br><br><b>Didelės Žuvys Lt</b>
<br>
http://bigfishes.projektai.nfqakademija.lt/
<br>
