<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ 'Big Fishes'|trans }}{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
            <link rel="stylesheet" href="{{ asset('../libs/adminLTE.css') }}">
        {% endblock %}
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.ico')}}">
        {% block canonical_meta %}{% endblock %}
    </head>
    <body>
        <div class="container">
            <header class="row" style="height: 95px;">
                <div class="col-sm-5 text-center">
                    <img src="{{ asset('images/logo.png')}}">
                </div>
                <div class="col-sm-7 undertop_background">
                    <ul class="float-right navigation_menu_links">
                        <li class="d-inline-block p-2"><a class="navigation_menu_item" href="./">Kalendorius</a></li>
                        {% if not app.user %}
                        <li class="d-inline-block p-2"><a class="navigation_menu_item" href="./register">Registracija</a></li>
                        {% endif %}
                        {% if app.user %}
                            <li class="d-inline-block p-2"><a class="navigation_menu_item" href="/myReservations">Mano rezervacijos</a></li>
                            <li class="d-inline-block p-2"><a class="navigation_menu_item" href="./logout">Atsijungti</a></li>
                        {% else %}
                            <li class="d-inline-block p-2"><a class="navigation_menu_item" href="./login">Prisijungti</a></li>
                        {% endif %}
                    </ul>
                </div>
            </header>
        {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
